<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".listener.ActivityCallbacksListeners"
        android:theme="@style/Theme.ChatApp">
        <service
            android:name=".notification.NotificationHandlerService"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name=".activity.LabelingFormActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ContactsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ClassificationInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>