appdirs==1.4.4
audioread==2.1.9
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==37.0.1
cycler==0.11.0
decorator==5.1.1
Flask==2.0.3
fonttools==4.33.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.2
munkres==1.1.4
nltk==3.7
numba==0.55.1
numpy==1.21.6
packaging==21.3
Pillow==9.1.0
pip==22.1
pooch==1.6.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
regex==2022.3.15
requests==2.27.1
resampy==0.2.2
scikit-learn==1.1.0
scipy==1.8.0
setuptools==62.2.0
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
tqdm==4.64.0
unicodedata2==14.0.0
Unidecode==1.2.0
urllib3==1.26.9
Werkzeug==2.0.3
wheel==0.37.1
gunicorn==20.1.0